@{
    var assignments = ViewData["Assignments"] as List<AcademicFlow.Controllers.Assignment>;
    ViewData["Title"] = "Assignments";

    string TruncateDescription(string description, int maxLength)
    {
        if (string.IsNullOrEmpty(description))
        {
            return string.Empty;
        }

        if (description.Length <= maxLength)
        {
            return description;
        }

        return description.Substring(0, maxLength) + "...";
    }
}

<div class="container-fluid">
    <div class="row">
        <partial name="../Course/Partials/_CourseNav" />
        <div class="col-sm p-0 min-vh-100">
            <div class="container">
                <h1 class="display-4 my-4">Assignments !!!TODO</h1>
                <hr class="my-4">
                <p class="lead">List of all assignments</p>

                @if (assignments != null && assignments.Count > 0)
                {

                    <div class="assignments d-flex flex-column gap-3 my-5">
                        <div class="course-assignments">
                            <p class="display-6">Algoritmu teorija</p>

                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Grade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var assignment in assignments)
                                    {
                                        <tr>
                                            <th scope="row">@assignment.Id</th>
                                            <td><a href="Assignment/@assignment.Id" class="text-success">@assignment.Title</a></td>
                                            <td class="text-muted">@TruncateDescription(assignment.Description, 70)</td>

                                            @if (@assignment.Grade != null) {
                                                <td>@assignment.Grade/@assignment.TotalGrade</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="course-assignments">
                            <p class="display-6">OOP</p>

                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Grade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var assignment in assignments)
                                    {
                                        <tr>
                                            <th scope="row">@assignment.Id</th>
                                            <td><a href="Assignment/@assignment.Id" class="text-success">@assignment.Title</a></td>
                                            <td class="text-muted">@TruncateDescription(assignment.Description, 70)</td>

                                            @if (@assignment.Grade != null) {
                                                <td>@assignment.Grade/@assignment.TotalGrade</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    <p>No assignments available.</p>
                }
            </div>
        </div>
    </div>
</div>