@{
    var course = ViewData["Course"] as AcademicFlow.Controllers.Course;
    var assignments = ViewData["Assignments"] as List<AcademicFlow.Controllers.Assignment>;
    ViewData["Title"] = @course.Name;

    string TruncateDescription(string description, int maxLength)
    {
        if (string.IsNullOrEmpty(description))
        {
            return string.Empty;
        }

        if (description.Length <= maxLength)
        {
            return description;
        }

        return description.Substring(0, maxLength) + "...";
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto p-0 bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li class="nav-item">
                        <a href="/" class="nav-link link-dark py-3 px-2" title="Home" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="fa-solid fa-home"></i>
                            <p class="small">Home</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Courses" class="nav-link py-3 px-2 text-success" title="Courses" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                            <i class="fa-solid fa-school"></i>
                            <p class="small">My courses</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Assignments" class="nav-link py-3 px-2 text-success" title="Assignments" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                            <i class="fa-regular fa-file"></i>
                            <p class="small">Assignments</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm p-0 min-vh-100">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-4">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Course</li>
                        <li class="breadcrumb-item active" aria-current="page">@course.PublicId</li>
                    </ol>
                </nav>

                <img src="@Url.Content(course.ImgSrc)" alt="@course.Name" class="img-fluid hero-image">

                <h1 class="display-4 my-4">@course.Name</h1>
                <hr class="my-4">
                <p class="lead">@course.Description</p>

                <div class="course-content d-flex flex-column gap-3 my-5">
                    <div class="course-data">
                        <p><strong>Lecturer:</strong> !!!TODO</p>
                        <p><strong>Grade:</strong> !!!TODO</p>
                    </div>

                    <div class="course-assignments">
                        <p class="display-6">Assignments (!!!TODO)</p>

                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Grade</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var assignment in assignments)
                                {
                                    <tr>
                                        <th scope="row">@assignment.Id</th>
                                        <td><a href="Assignment/@assignment.Id" class="text-success">@assignment.Title</a></td>
                                        <td class="text-muted">@TruncateDescription(assignment.Description, 70)</td>

                                        @if (@assignment.Grade != null) {
                                            <td>@assignment.Grade/@assignment.TotalGrade</td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                        }
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>