@{
    var courses = ViewData["Courses"] as List<AcademicFlow.Controllers.Course>;
    ViewData["Title"] = "Courses";

    string TruncateDescription(string description, int maxLength)
    {
        if (string.IsNullOrEmpty(description))
        {
            return string.Empty;
        }

        if (description.Length <= maxLength)
        {
            return description;
        }

        return description.Substring(0, maxLength) + "...";
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto p-0 bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li class="nav-item">
                        <a href="/" class="nav-link link-dark py-3 px-2" title="Home" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="fa-solid fa-home"></i>
                            <p class="small">Home</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Courses" class="nav-link py-3 px-2 text-success" title="Courses" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                            <i class="fa-solid fa-school"></i>
                            <p class="small">My courses</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Assignments" class="nav-link py-3 px-2 text-success" title="Assignments" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                            <i class="fa-regular fa-file"></i>
                            <p class="small">Assignments</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm p-0 min-vh-100">
            <div class="container">
                <h1 class="display-4 my-4">My Courses</h1>

                @if (courses != null && courses.Count > 0)
                {
                    <div class="row">
                        @for (int i = 0; i < 2; i++)
                        {
                            var course = courses[i];

                            <div class="col-lg-6 col-md-12 mb-4">
                                <div class="p-4 bg-light rounded-3 h-100 position-relative d-flex flex-column">
                                    <div class="d-flex justify-content-between align-items-start flex-column flex-sm-row">
                                        <h2 class="display-6 course-name course-name-lg">@course.Name</h2>
                                        <img src="@Url.Content(course.ImgSrc)" alt="@course.Name" class="img-fluid img-thumbnail ms-3 mb-2" style="max-width: 100px; max-height: 100px;">
                                    </div>
                                    <p class="lead">@course.PublicId</p>
                                    <hr class="my-4">
                                    <p>@TruncateDescription(course.Description, 150)</p>
                                    <div class="mt-auto">
                                        <a href="Course/@course.Id" class="btn btn-success">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        @for (int i = 2; i < courses.Count; i++)
                        {
                            var course = courses[i];

                            <div class="col-xl-4 col-lg-6 col-md-12 mb-4">
                                <div class="p-4 bg-light rounded-3 h-100 position-relative d-flex flex-column">
                                    <div class="d-flex justify-content-between align-items-start flex-column flex-sm-row">
                                        <h2 class="display-6 course-name course-name-sm">@course.Name</h2>
                                        <img src="@Url.Content(course.ImgSrc)" alt="@course.Name" class="img-fluid img-thumbnail ms-3 mb-2" style="max-width: 100px; max-height: 100px;">
                                    </div>
                                    <p class="lead">@course.PublicId</p>
                                    <hr class="my-4">
                                    <p>@TruncateDescription(course.Description, 150)</p>
                                    <div class="mt-auto">
                                        <a href="Course/@course.Id" class="btn btn-success">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p>No courses available.</p>
                }
            </div>
        </div>
    </div>
</div>