@using AcademicFlow.Managers.Contracts.Models.CourseModels
@model CourseWebModel

@{
    var course = Model;

    ViewData["Title"] = @course.Name;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Course</li>
        <li class="breadcrumb-item active" aria-current="page">@course.PublicId</li>
    </ol>
</nav>

<img src="@Url.Content(course.ImageUrl)" alt="@course.Name" class="img-fluid hero-image">

<h1 class="display-4 my-4">@course.Name</h1>
<hr class="my-4">
<p class="lead"><strong>@course.CreditPoints KP</strong></p>
<p class="lead">@course.Description</p>

